<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekbang.university.demo.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.geekbang.university.demo.entity.UserEntity">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insertOne" parameterType="com.geekbang.university.demo.entity.UserEntity" useGeneratedKeys="true">
        insert into db.user(id,name) values (#{id}, #{name})
    </insert>

    <select id="query" resultMap="userResultMap">
        select * from user
    </select>
</mapper>